.features {
   position: relative;
   width: 100%;
   height: 1000px;
   background-color: $bgc-color;

   &__image {
      width: 100%;
      height: 60%;
      background-image: url("../../public/img/Layer\ 78.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   }

   &__info {
      display: flex;
      width: 100%;
      height: 40%;
      justify-content: space-around;
      position: absolute;
      background-color: $product-color;
      align-items: center;
      bottom: 0;
      left: 0;
      color: #fff;

      @media (max-width: $phone) {
         flex-direction: column;
         justify-content: center;
         height: 50%;
      }
   }

   &__headline {
      display: block;
      font-size: 50px;
      margin-left: 10%;
      margin-bottom: 100px;
      width: 25%;
      font-family: $font-poppins;

      @media (max-width: $phone) {
         font-size: $h2-header;
         width: 80%;
         margin: 10px 10px 30px 10px;
      }
   }

   &__paragraph {
      display: block;
      margin-left: 5%;
      margin-right: 5%;
      width: 600px;
      font-family: $font-roboto;
      font-weight: 300;

      @media (max-width: $phone) {
         font-size: $h2-header-phone;
         width: 85%;
      }
   }

   &__phone {
      position: absolute;
      top: 20px;
      right: 15%;
      z-index: 1;

      @media (max-width: $phone) {
         width: 300px;
         top: 90px;
         right: 15%;
      }
   }

   &__download {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      padding-top: 10px;
      border-top: 1px dotted rgb(186, 186, 186);
      width: 310px;
      text-decoration: none;
      color: #ffffff;
      opacity: 0.7;
      font-family: $font-roboto;

      &:hover {
         opacity: 1;
         cursor: pointer;
      }
   }
}