body {
   box-sizing: border-box;
   // width: 100vw;
   margin: 0;
   padding: 0;
   color: $text-color;
}

a {
   color: #000;
   text-decoration: none;
}

main {
   margin-top: 160px;

   @media (max-width: $phone) {
      margin-top: 0;
   }
}

ul,
li {
   list-style: none;
   padding: 0;
}

.wrapper {
   width: 100%;
}