body {
   box-sizing: border-box;
   // width: 100vw;
   margin: 0;
   padding: 0;
   color: $text-color;
}

a {
   color: #000;
   text-decoration: none;
}

ul,
li {
   list-style: none;
   padding: 0;
}

.wrapper {
   width: 100%;
}