.specs {
   width: 100%;

   &__head {
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: $phone) {
         flex-direction: column;
      }
   }

   &__info {
      @media (max-width: $phone) {
         width: 70%;
      }
   }

   &__headline {
      font-family: $font-poppins;
      font-size: $h2-header;
   }

   &__paragraph {
      font-size: $paragraph;
   }

   &__grow {
      position: relative;
      font-weight: 300;
      margin: 3%;
      font-family: $font-roboto;
      display: block;
      flex-basis: 25%;

      @media (max-width: $phone) {

         width: 320px;
      }

      &--list {
         position: absolute;
         top: 20%;
         right: -10%;

         @media (max-width: $phone) {
            right: 0%
         }
      }

      &--img {
         width: 400px;

         @media (max-width: $phone) {
            width: 300px;
            margin: -20%;
         }
      }
   }

   &__accordion {
      position: relative;
   }

   &__menu {
      // position: absolute;
      margin: 50px auto 150px;
      width: 70%;


      font-family: $font-poppins;
      font-weight: 700;
      font-size: $h4-header;

      .item {
         border-top: 1px solid $bgc-color;
         overflow: hidden;
         padding: 16px;

         &--btn {
            display: flex;
            justify-content: space-between;

            &:hover {
               color: $product-color;
            }
         }

         &--icon {
            font-size: 10px;
            color: rgb(79, 79, 79);
            display: block;
            text-align: right;
         }

         &:hover .item--sub-menu {
            max-height: 10em;
         }

         &--sub-menu {
            overflow: hidden;
            max-height: 0;
            transition: 0.7s;

            &--btn {
               font-family: $font-roboto;
               font-weight: 300;
               font-size: 15px;
               display: block;
               padding: 16px;
               position: relative;
            }
         }
      }
   }

   &__footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
   }

   &__content {
      width: 500px;
      padding: 0 20px 0 20px;

      &--headline {
         font-family: $font-poppins;
         font-size: $h2-header;
      }

      &--paragraph {
         font-family: $font-roboto;
         font-size: $paragraph;
         font-weight: 300;
      }
   }

   &__download {
      background-color: $bgc-color;
      margin: 60px auto;
      max-width: 1300px;
      height: 120px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      @media (max-width: $phone) {
         flex-direction: column;
         text-align: center;
         height: auto;
         flex-wrap: wrap;
      }

      &--btn {
         @include buttonStyle(200px, 60px);

         &:hover {
            cursor: pointer;
            opacity: 0.9;
         }
      }
   }

   &__text {
      font-family: $font-roboto;
      font-size: $paragraph;
      font-weight: 300;

      @media (max-width: $phone) {
         padding: 5px;
         margin: 10px;
      }

      &--bold {
         font-family: $font-poppins;
         font-size: $h3-header;
         font-weight: 700;
      }
   }
}