.wrapper {
  width: 100%;

  .fixed-nav {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-roboto;
    background-color: rgb(255, 255, 255);
    z-index: 2;

    &__mobile {
      display: none;

      @media (max-width: $phone) {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $product-color;
        font-size: 40px;
        padding-right: 40px;

        &--title {
          margin: 2px;
          padding: 0 5px 0 5px;
          color: black;
          font-weight: 700;
          font-size: 20px;

          .fas {
            padding: 0 15px;
          }
        }
      }
    }


    &__logo {
      margin-top: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 68px;

    }

    &__menu {
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: $phone) {
        display: none;
      }

      .products {
        margin-top: 50px;
        display: flex;
        list-style: none;
        font-size: 13px;
        font-family: $font-roboto;

        .product {
          padding: 0 30px 0 30px;

          &--sign {
            padding: 0 30px 0 30px;
            font-size: 17px;
            font-weight: 700;
          }
        }

      }

      .button-sign {

        font-size: 17px;

        button {
          color: #fff;
          background-color: $product-color;
          border: none;
          padding: 47px 80px 16px 57px;
          width: 280px;
          height: 80px;
        }
      }
    }
  }

  .work-place-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 80px;
    font-family: $font-roboto;
    font-size: 17px;
    height: 120px;

    @media (max-width: $phone) {
      display: none;
    }

    &__menu {
      display: flex;
      margin-right: 200px;
      top: 0;
      left: 0;
      padding: 0;
      list-style: none;

      li {
        display: block;
        padding: 0 30px 0 30px;
      }
    }
  }

  .overview {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 580px;
    background-color: $bgc-color;

    &__title {
      background-color: transparent;
      padding-left: 150px;
      padding-right: 200px;
      width: 45%;

      h1 {
        color: $product-color;
        font-family: $font-poppins;
        font-size: 70px;
        line-height: 60px;
        letter-spacing: -3px;
      }

      p {
        font-family: $font-roboto;
        font-size: 30px;
      }

    }

    &__images {
      position: relative;
      width: 45%;
      height: 100%;
      overflow: hidden;

      img {
        position: absolute;
        width: 100%;

        &.desks {
          width: 600px;
          bottom: 107px;
          left: -10px;
        }

        &.hand {
          width: 450px;
          bottom: -28px;
          left: 35px;
        }
      }
    }
  }

  .for-who {
    width: 100%;
    background-color: $bgc-color;

    &__info {
      display: flex;
      justify-content: space-around;
      margin: auto;
      max-width: 70%;
      min-height: 165px;

      &--more {
        width: 20%;

        h3 {
          font-size: 30px;
          font-family: $font-poppins;
        }

        p {
          font-size: 170x;
          font-family: $font-roboto;
        }
      }
    }

    &__cards {
      display: flex;
      justify-content: space-around;
      padding-top: 150px;

      &--item {
        background-color: #ffffff;
        max-height: 500px;
        max-width: 310px;
        padding-top: 50px;
        margin: 0 20px 120px;

        @media (max-width: $phone) {
          display: none;
        }

        .card-img {
          width: 160px;
          height: 137px;
          background-image: url("/public/img/mob_roblem_solving.png");
          background-repeat: no-repeat;
          background-size: cover;
          margin: auto;
        }

        .card-content {
          margin: 40px 25px;
          width: 75%;
          padding: 10px;

          h3 {
            margin-top: 40px;
            font-family: $font-poppins;
            font-size: 19px;
            font-weight: bold;

          }

          p {
            margin-top: 40px;
            font-family: $font-roboto;
            font-size: 17px;
            font-weight: 300;

          }
        }
      }
    }
  }

  .features {
    position: relative;
    width: 100%;
    height: 1000px;
    background-color: $bgc-color;

    &__image {
      width: 100%;
      height: 60%;
      background-image: url("/public/img/Layer\ 78.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &__info {
      display: flex;
      width: 100%;
      height: 40%;
      justify-content: space-around;
      position: absolute;
      background-color: $product-color;
      align-items: center;
      bottom: 0;
      left: 0;
      color: #fff;
    }

    &__headline {
      display: block;
      font-size: 50px;
      margin-left: 10%;
      margin-bottom: 100px;
      width: 25%;
      font-family: $font-poppins;
    }

    &__paragraph {
      display: block;
      margin-left: 5%;
      margin-right: 5%;
      width: 600px;
      font-family: $font-roboto;
      font-weight: 300;
    }

    &__phone {
      position: absolute;
      top: 20px;
      right: 15%;
      z-index: 1;
    }

    &__download {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      padding-top: 10px;
      border-top: 1px dotted rgb(186, 186, 186);
      width: 310px;
      text-decoration: none;
      color: #ffffff;
      opacity: 0.7;
      font-family: $font-roboto;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }

  .specs {
    width: 100%;

    &__head {
      display: flex;
      justify-content: center;
    }

    &__headline {
      font-family: $font-poppins;
      font-size: 30px;
    }

    &__paragraph {
      font-size: 17px;
    }

    &__grow {
      font-weight: 300;
      margin: 3%;
      font-family: $font-roboto;
      display: block;
      flex-basis: 25%;
      // flex-grow: 1;
    }

    &--img {
      width: 100%;
      height: 100%;
    }

    &__accordion {
      position: relative;
    }

    &__menu {
      // position: absolute;
      margin: 50px auto 150px;
      width: 70%;


      font-family: $font-poppins;
      font-weight: 700;
      font-size: 17px;

      .item {
        border-top: 1px solid $bgc-color;
        overflow: hidden;
        padding: 16px;

        &--btn {
          display: flex;
          justify-content: space-between;

          &:hover {
            color: $product-color;
          }
        }

        &--icon {
          font-size: 10px;
          color: rgb(79, 79, 79);
          display: block;
          text-align: right;
        }

        &:hover .item--sub-menu {
          max-height: 10em;
        }

        &--sub-menu {
          overflow: hidden;
          max-height: 0;
          transition: 0.7s;

          &--btn {
            font-family: $font-roboto;
            font-weight: 300;
            font-size: 15px;
            display: block;
            padding: 16px;
            position: relative;
          }
        }
      }
    }

    &__footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
    }

    &__content {
      width: 500px;
      padding: 0 20px 0 20px;

      &--headline {
        font-family: $font-poppins;
        font-size: 30px;
      }

      &--paragraph {
        font-family: $font-roboto;
        font-size: 17px;
        font-weight: 300;
      }
    }

    &__download {
      background-color: $bgc-color;
      margin: 60px auto;
      max-width: 1300px;
      max-height: 120px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      &--btn {
        @include buttonStyle(200px, 60px);

        &:hover {
          cursor: pointer;
          opacity: 0.9;
        }
      }
    }

    &__text {
      font-family: $font-roboto;
      font-size: 17px;
      font-weight: 300;

      &--bold {
        font-family: $font-poppins;
        font-size: 19px;
        font-weight: 700;
      }
    }
  }
}