// COLORS
$product-color: #3146FF;
$text-color: #000000;
$bgc-color: #f7f7f7;
$secondary-color: #01ffcb;

//FONT-COLOR
$font-roboto: 'Roboto',
sans-serif;
$font-poppins: 'Poppins',
sans-serif;

//FON -SIZE
$big-header: 70px;
$paragraph-header: 30px;
$h2-header: 30px;
$h3-header: 19px;
$h4-header: 17px;
$paragraph: 17px;
$paragraph-small: 13px;




$h2-header-phone: 17px;
$big-headline-phone: 40px;


//MEDIA
$phone: 1003px;
$desktop: 1004px;